@model Domain.Dtos.UpdateTutorDto
<form method="post" asp-action="Add">
   
        <div class="form-group">
        <label>Tutor FullName</label>
        <input asp-for="FullName" type="text" class="form-control"  placeholder="Enter tutor fullname">
        <span class="text-danger" asp-validation-for="FullName"></span>
    </div>
  <div class="form-group">
        <label>Tutor Position</label>
      <textarea asp-for="Position" class="form-control"  placeholder="Enter tutor Position"></textarea>
        <span class="text-danger" asp-validation-for="Position"></span>
    </div>
      <div class="form-group">
        <label>Tutor BackgroundImage</label>
      <textarea asp-for="BackgroundImage" class="form-control"  placeholder="Enter tutor BackgroundImage"></textarea>
        <span class="text-danger" asp-validation-for="BackgroundImage"></span>
    </div>
      <div class="form-group">
        <label>Tutor Image</label>
      <textarea asp-for="Image" class="form-control"  placeholder="Enter tutor Image"></textarea>
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>
    <div class="form-group">
        <label>Tutor Experience</label>
      <textarea asp-for="Experience" class="form-control"  placeholder="Enter tutor Experience"></textarea>
        <span class="text-danger" asp-validation-for="Experience"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>