@model Domain.Dtos.AddDepartmentDto

<form method="post" asp-action="Add">
    <div class="form-group">
        <label>Department Name</label>
        <input asp-for="Name" type="text" class="form-control"  placeholder="Enter department name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
  <div class="form-group">
        <label>Department Name</label>
      <textarea asp-for="Description" class="form-control"  placeholder="Enter department desctiption"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    
    <button type="submit" class="btn btn-primary">Add</button>
</form>