@model List<string>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Softclub</h1>
    <h2>this is main home/index page</h2>
    
    @foreach(var item in Model)
    {
        <h3>@item</h3>
    }
    
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
